body {
    font-family: 'Roboto', Arial;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

/* first page */

.first-page, .third-page {
    padding: 16px 125px;
}

/* .first-page, .second-page, .third-page, .fourth-page, .hero-container, .info-container, .testimonial-container , .action-container {
     border: 2px solid gray; 
} */

.first-page {
    padding-bottom: 125px;
}

.fourth-page {
    padding: 95px 125px;
}

.first-page {
    background: linear-gradient(to top, #0f172a, #34203e,  #e05bad);
}

.footer {
    background-color:#0f172a;
}

.main { 
    flex: 1;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    gap: 40px;
}

.hero {
    width: 480px;
    height: auto;
}

.image, img {
    width: 515px;
    height: 290px;
    border-radius: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 25px;
    line-height: 1.5;
    font-size: 14px;
}

.footer div {
    margin: 3px 0;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
}

.shop-now-btn {
    background: linear-gradient(135deg, #ff6f61, #ff9a8b);
    border-radius: 8px;
    color: white;
    padding: 7px 28px;
    border-color: transparent;
    font-weight: 600;
    font-size: medium;
}

/* first page - typography */

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 55px;
    margin: 0;
    padding: 0;
}

.hero-secondary-text, a {
    font-size: 18px;
    color: #e5e7eb;
    
}

.hero-secondary-text {
    margin: 0;
    margin: 10px 0;
    width: 97%;
}

.logo, .footer {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.footer a {
    font-size: 14px;
}

/* second page */

.second-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

.info-container {
    display: flex;
    gap: 50px;

}

.info-icon {
    border: 4px solid #ff6f61;
    width: 155px;
    height: 155px;
    border-radius: 12px;
}

.info-icon img {
    height: 155px;
    width: 155px;
    border-radius: 7px;
}

/* second page - typography */

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 4px 0;
}

.info .text {
    width: 175px;
    max-width: 600px; 
    /* margin: 0 auto;  */
}

.info .text p {
    color: rgb(114, 113, 113);
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 8px;
}

p {
    hyphens: auto;
    overflow-wrap: break-word;
}

/* third page */

.third-page {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.testimonial-container {
    width: 790px;
    margin: 48px 0;
    padding: 40px;
}

.testimonial {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    hyphens: none;
    font-weight: lighter;
}

.author {
    text-align: right;
    font-size: 25px;
    margin-right: 15px;
    font-weight: bold;
}

/* fourth page */

.action-container {
    background: linear-gradient(135deg, #ff6f61, #ff9a8b);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 88px; 
    gap: 48px;
    text-wrap: wrap;
    margin: 0;
}

/* fourth page - typography */

.action-text, button {
    color: white;
}

.action-text {
    line-height: 0.1;
}

.action-text-header {
    font-size: 25px;
    color: white;
}

.action-subtext {
    font-size: 18px;
    color: #f9f9fc;
}

.sign-up-btn {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    padding: 12px 36px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sign-up-btn:hover {
    background-color: white;
    color: #ff6f61;
}